h2 #{list.item}

p #[strong Item:] #{list.item}
p #[strong Price:] #{list.price}

div.actions
  form(method='POST', action=`/delete/${list.id}?_method=DELETE`)
    button(
      type='submit',
      hx-delete=`/delete/${list.id}`,
      hx-target='#sidebar',
      hx-push-url='/lists'
      class='link'
    ) Delete List

  a(
    href=`/lists/${list.id}/edit`,
    hx-get=`/lists/${list.id}/edit`,
    hx-push-url='true',
    hx-target='#content'
  ) Edit List